# ========================
# Unity .gitignore template
# ========================

# پوشه‌های قابل بازسازی (نباید آپلود بشن)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# فایل‌های شخصی و محیط توسعه
.vs/
*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

